@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 6%;
    --foreground: 210 40% 98%;
    --card: 0 0% 10%;
    --card-foreground: 210 40% 98%;
    --popover: 0 0% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 18 77% 47%;
    --primary-foreground: 210 40% 98%;
    --secondary: 0 0% 16%;
    --secondary-foreground: 210 40% 98%;
    --muted: 0 0% 16%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 0 0% 16%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 0 0% 16%;
    --input: 0 0% 16%;
    --ring: 18 100% 59%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 10%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 18 77% 47%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 0 0% 16%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 0 0% 24%;
    --sidebar-ring: 18 100% 59%;
  }

  .dark {
    --background: 0 0% 6%;
    --foreground: 210 40% 98%;
    --card: 0 0% 10%;
    --card-foreground: 210 40% 98%;
    --popover: 0 0% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 18 77% 47%;
    --primary-foreground: 210 40% 98%;
    --secondary: 0 0% 16%;
    --secondary-foreground: 210 40% 98%;
    --muted: 0 0% 16%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 0 0% 16%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 0 0% 16%;
    --input: 0 0% 16%;
    --ring: 18 100% 59%;
    --sidebar-background: 0 0% 10%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 18 77% 47%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 0 0% 16%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 0 0% 24%;
    --sidebar-ring: 18 100% 59%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}